<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Unitario</th>
                <th>Qtd</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

        {% load mathfilters %}
        {% for item in itens %}

            <tr>
                <td>{{item.codigo_item}}</td>
                <td>{{item.preco}}</td>
                <td>{{item.qtd_item}}</td>
                {% comment %} <td>{{item.qtd_item|mul: 2}}</td> {% endcomment %}

                {% with qtd=item.qtd_item prc=item.preco %}
                <td>{{ qtd|mul:prc }}</td>
                {% endwith %}
            </tr>

        {% endfor %}

        </tbody>
    </table>
  

    
</body>
</html>