<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Descricao</th>
                <th>Unitario</th>
                <th>Qtd</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

        {% load mathfilters %}
        {% for item in itens %}

            <tr>
                <td class="itemTable  itemTable-cod">{{item.codigo_int_id}}</td>
                <td class="itemTable  itemTable-Desc">{{item.description}}</td>
                <td class="itemTable  itemTable-Uni-Price">{{item.preco}}</td>
                <td class="itemTable  itemTable-Qtd">{{item.qtd_item}}</td>
                {% comment %} <td>{{item.qtd_item|mul: 2}}</td> {% endcomment %}

                {% with qtd=item.qtd_item prc=item.preco %}
                <td class="Total-Price">{{ qtd|mul:prc }}</td>
                {% endwith %}
            </tr>

        {% endfor %}

        </tbody>
    </table>
  

    
</body>
<script type="text/javascript" src="{% static 'js/itens-cupom.js' %}"></script>
</html>