/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

/* Deixar assim por enquanto */
main { margin-bottom: auto; margin-top: 50px;}

body {
   font-family: sans-serif;
   font-size: 1em;
   color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
} 


/* Layout */
.s-layout {
   display: flex;
   width: 100%;
   min-height: 100vh;
}

/* .row { display: inline-block;} */

.s-layout-acervo {
   width: 100%;
   min-height: 100vh;
}

.s-layout__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
   background: #192b3c;
}

.s-sidebar__trigger > i {
   display: inline-block;
   margin: 1.5em 0 0 1.5em;
   color: #f07ab0;
}

.form-control-primary { margin: 10px; opacity: 0.2; border-radius: 3px; }

.s-sidebar__nav {
   position: fixed;
   top: 0;
   left: -15em;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
   background: white;
   color: rgba(255, 255, 255, 0.7);

}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   position: absolute;
   top: 4em;
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 4em;
    color: #293783;
}

.s-sidebar__nav-link em {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
   letter-spacing: 0.6px;
}

.sidebar-selecionado {
   background: #293783;
   color: white; 
    /*PARA CRIAR EFEITO SUAVE*/
    opacity: 0.9;
    border-radius: 3px;
}

.s-sidebar__nav-link:hover {
   background: #293783;
   color: white; 
    /*PARA CRIAR EFEITO SUAVE*/
    transition: all .4s ease;
    opacity: 0.9;
    border-radius: 3px;
}

.s-sidebar__nav-link > i {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.s-sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      margin-left: 4em;
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      width: 4em;
   }
   
   .s-sidebar__nav {
      width: 4em;
      left: 0;
   }
   
   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
   }
}

@media (min-width: 68em) {
   .s-layout__content {
      /* margin-left: 15em; */
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      display: none
   }
   
   .s-sidebar__nav {
      width: 15em;
      border-right: 1px solid #eac41f;
   }
   
   .s-sidebar__nav ul {
      top: 1.3em;
   }
}


@media(max-width: 1080px) { 
   .table-responsive{  background-color: black !important; } 


}



@media(max-width: 1250px) { 
   .table-responsive{  background-color: yellow; } 
}


.botao-login {
   background-color: transparent;
   border-color: #ea7a0c;
   color: white;
   margin-right: 35px;
   border-radius: 5px;
   padding-left: 15px;
   padding-right: 15px;
}

.botao-login:hover {
   background-color: #ea7a0c;
   transition: all .3s ease;
   opacity: 0.9;
   border-color: white;
}

.botao-logar {
   background-color: transparent;
   border-color: #ea7a0c;
   color: #0f2241;
   border-radius: 5px;
   padding-left: 15px;
   padding-right: 15px;
   transition: all .4s ease-in;
}

.botao-logar:hover {
   transition: all .4s ease-in;
   letter-spacing: 1px;
   opacity: 0.9;
   background-color: white;
   padding-left: 40px;
   padding-right: 40px;
}

/* artefatos */

a:link 
{ 
 text-decoration:none; 
} 

/* --- Card1 ---- */

.Card1 {
  position: relative;
  background: #fff;
  margin: 2em;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  font-size: 18px;
  border-radius: 3px;
  height: 300px;
  max-width: 600px;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
  -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

.Card1 .photo {
  position: relative;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
  float: left;
  height: 100%;
  width: 40%;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('');
}
.Card1:hover .photo {
  -webkit-transform: rotate(5deg) scale(1.3);-moz-transform: rotate(5deg) scale(1.3);-ms-transform: rotate(5deg) scale(1.3);-o-transform: rotate(5deg) scale(1.3);transform: rotate(5deg) scale(1.3);
}

.Card1 .details {
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  list-style: none;
  margin: 0px;
  padding: 1em;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -100%;
  width: 40%;
}
.Card1:hover .details {left: 0px;}
.Card1:hover .details li{padding: 0.1em;}

.Card1 .description{
  padding: 1em;
  position: relative;
  float: right;
  height: 100%;
  width: 60%;
  z-index: 0;
}
.Card1 .description:before {
  content: "";
  background: #fff;
  width: 100%;
  z-index: -1;
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(-5deg);-moz-transform: skewX(-5deg);-ms-transform: skewX(-5deg);-o-transform: skewX(-5deg);transform: skewX(-5deg);
}

.Card1 .description h1 {
  font-size: 2em;
  padding: 0.5em 0px;
  font-weight: bold;
}
.Card1 .description .line {display: block;height: 5em;}
.Card1 .description .product_name {float: left;}
.Card1 .description .product_price {float: right;color:#4cbc32;}
.Card1 .description h2 {
  color: #9b9b9b;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
}
.Card1 .description p {position: relative;padding: 2em 0px 1em 0.5em;}

.Card1 .description p:after {
  content: "";
  background: #3d498e;
  height: 6px;
  width: 5em;
  position: absolute;
  top: 0.6em;
  left: 0px;
}
.Card1 .description a {
  color: #3d498e;
  margin-bottom: 1em;
  position: absolute;
  right:1em;
  bottom: 0em; 
}
.Card1 .description a:after {
  content: ">";
  margin-left: -10px;
  opacity: 0;
  -moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;
}
.Card1 .description a:hover:after {margin-left: 5px;opacity: 1;}

.botao-cadastrar { 
   background-color: white;
   border-color: #3d498e;
   color: #3d498e;
}


.botao-cadastrar:hover {
   background-color: #3d498e;
   border-color: #3d498e;
   color: white;
}

.fas.fa-search {
   position: absolute;
   top: 12px;
   right: 26px;
   cursor: pointer;
}

/* Paginação */
.pagination {
   margin-bottom: 20px;
}

.step-links {
   position: relative;
   margin-left: auto;
   margin-right: auto;
}

.step-links .current {
   margin-left: 5px;
   margin-right: 5px;
}

/* filter */
.filter-div {
   margin-bottom: 15px;
   padding: 0;
}

#filter {
   display: inline-block;
   width: 200px;
   margin-left: 10px;
}

h1 {
   position: relative;
   padding: 0;
   margin: 0;
   font-family: "Raleway", sans-serif;
   font-weight: 300;
   font-size: 40px;
   color: #080808;
   -webkit-transition: all 0.4s ease 0s;
   -o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
 }
 
 h1 span {
   display: block;
   font-size: 0.5em;
   line-height: 1.3;
 }
 h1 em {
   font-style: normal;
   font-weight: 600;
 }

 .three h1 {
   font-size: 28px;
   font-weight: 500;
   letter-spacing: 0;
   line-height: 1.5em;
   padding-bottom: 15px;
   position: relative;
 }
 .three h1:before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 5px;
   width: 55px;
   background-color: #3d4a8e;
 }
 .three h1:after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 2px;
   height: 1px;
   width: 95%;
   max-width: 255px;
   background-color: #414d93;
 }
 /* Alterações Novas 28/06/2021 */

 .carousel-item {
   height: 100vh;
   min-height: 300px;
   background: no-repeat center center scroll;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 .carousel-caption {
   bottom: 270px;
 }
 
 .carousel-caption h5 {
   font-size: 45px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 25px;
 }
 
 .carousel-caption p {
   width: 75%;
   margin: auto;
   font-size: 18px;
   line-height: 1.9;
 }
 
 .navbar-light .navbar-brand {
   color: #fff;
   font-size: 25px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 2px;
 }
 
 .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
   color: #fff;
 }
 
 .navbar-light .navbar-nav .nav-link {
   color: #fff;
 }
 
 .navbar-toggler {
   background: #fff;
 }
 
 .navbar-nav {
   text-align: center;
 }
 
 .nav-link {
   padding: .2rem 1rem;
 }
 
 .nav-link.active,.nav-link:focus{
   color: #fff;
 }
 
 .navbar-toggler {
   padding: 1px 5px;
   font-size: 18px;
   line-height: 0.3;
 }
 
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
   color: #fff;
 }
 .menu-navbar { font-size: 22px; margin-left: 10px; color: #214196  !important; padding: auto; }
 .menu-navbar:hover{ color: #354990; border-bottom: 2px solid #214196 ; padding-top: 0%;}

 /* ----- COMEÇO DO RODAPÉ ------*/

ul {
   margin: 0px;
   padding: 0px;
}

.footer-section {
 background: #fff;
 position: relative;
 border-top: 1px solid #4d67ab;
 /* -webkit-box-shadow: -1px -3px 3px -1px rgba(0,0,0,0.17);
 -moz-box-shadow: -1px -3px 3px -1px rgba(0,0,0,0.17);
 box-shadow: -1px -3px 3px -1px rgba(0,0,0,0.17); */
}

.footer-cta {
 border-bottom: 1px solid #373636;
}

.single-cta i {
 color: #4d67ab;
 font-size: 30px;
 float: left;
 margin-top: 8px;
 transform: scaleX(-1);
}

.cta-text {
 padding-left: 15px;
 display: inline-block;
}

.cta-text h4 {
 color: #fff;
 font-size: 20px;
 font-weight: 600;
 margin-bottom: 2px;
}

.cta-text span {
 color: #757575;
 font-size: 15px;
}
.footer-content {
 position: relative;
 z-index: 2;
}

.footer-pattern img {
 position: absolute;
 top: 0;
 left: 0;
 height: 330px;
 background-size: cover;
 background-position: 100% 100%;
}

.footer-logo {
 margin-bottom: 30px;
}

.footer-logo img {
   max-width: 200px;
}

.footer-text p {
 margin-bottom: 14px;
 font-size: 14px;
 color: #7e7e7e;
 line-height: 28px;
}
.footer-social-icon span {
 color: #fff;
 display: block;
 font-size: 20px;
 font-weight: 700;
 font-family: 'Poppins', sans-serif;
 margin-bottom: 20px;
}

.footer-social-icon a {
 color: #fff;
 font-size: 16px;
 margin-right: 15px;
}

.footer-social-icon i {
 height: 40px;
 width: 40px;
 text-align: center;
 line-height: 38px;
 border-radius: 50%;
}

.facebook-bg{
 background: #3B5998;
}

.twitter-bg{
 background: #55ACEE;
}

.google-bg{
 background: #DD4B39;
}

.footer-widget-heading h3 {
 margin-top: 20px;
 color: #fff;
 font-size: 20px;
 font-weight: 600;
 margin-bottom: 40px;
 position: relative;
}

.footer-widget-heading h3::before {
 content: "";
 position: absolute;
 left: 0;
 bottom: -15px;
 height: 2px;
 width: 110px;
 background: #4d67ab;
}

.footer-widget ul li {
 display: inline-block;
 float: left;
 width: 50%;
 margin-bottom: 12px;
}

.footer-widget ul li a:hover{
 color: #4d67ab;
}

.footer-widget ul li a {
 color: #878787;
 text-transform: capitalize;
 text-decoration:none;
}

.subscribe-form {
 position: relative;
 overflow: hidden;
}

.subscribe-form input {
 width: 100%;
 padding: 14px 28px;
 background: #2E2E2E !important;
 border: 1px solid #2E2E2E;
 color: #fff;
}

.subscribe-form button {
   position: absolute;
   right: 0;
   background: #4d67ab;
   padding: 15px 20px;
   border: 1px solid #4d67ab;
   top: 0;
}

.subscribe-form button i {
 color: #fff;
 font-size: 22px;
 transform: rotate(-6deg);
}

.copyright-area{
 background: #dfdfdf;
 padding: 25px 0;
}

.copyright-text p {
 margin: 0;
 font-size: 14px;
 color: #878787;
}

.copyright-text p a{
 color: #4d67ab;
}

.footer-menu li {
 display: inline-block;
 margin-left: 15px;
}

.footer-menu li:hover a{
 color: #4d67ab;
}

.footer-menu li a {
 font-size: 14px;
 color: #878787;
 text-decoration: none;
}

.footer {
   position:fixed !important;
   bottom:0;
   left: 0;
   width:100%;
}


/* ---- FIM DO RODAPÉ ----- */

/* ajuste do formulario display */

.row2 {display: inline-block !important; }

.items-wrap:hover{ -webkit-box-shadow: -1px 3px 16px 2px #dfdfdf; 
   box-shadow: -1px 3px 16px 2px #dfdfdf;
   padding-left: 1px;
}

/* paginação */
.step-links .current {
   /* margin-left: 5px; */
   /* margin-right: 5px; */
   margin-left: 560px;
   margin-right: 560px;
   font-weight: 600;
}

/* btn colecao */

.btn-colecao:hover { background-color: #214196 !important; color: white !important;}