{% extends "artifacts/base.html" %}

<!-- {% block title %}{{ artifacts.title }}{% endblock %} -->

{% block content %}
<div>
    <h2>{{ artifacts.title }}</h2>
    <p class="date">
        Publicado em {{ artifacts.created }} por {{ artifacts.post_author }}
    </p>
    <p>Nome: {{ artifacts.name }}</p>
    <p>Código interno: {{ artifacts.slug }}</p>
    <p>Descrição: {{ artifacts.description}}</p>
    <p>Autor: {{ artifacts.author }}</p>
    <p>Sobre: {{ artifacts.about|safe }}</p>
    <p>Usabilidade: {{ artifacts.usage }}</p>
    <p>Estilo: {{ artifacts.style }}</p>
    <p>Cultura: {{ artifacts.culture }}</p>
    <p>Etnia: {{ artifacts.ethnicity }}</p>
    <p>Idade: {{ artifacts.age }}</p>
    <p>Inscrições: {{ artifacts.inscriptions }}</p>
    <p>Data de fabricação: {{ artifacts.fabrication_date }}</p>
    <p>Número do livro tombo: {{ artifacts.heritage_id }}</p>
    <p>Fabricação: {{ artifacts.manufacture }}</p>
    <p>Coleção: {{ artifacts.collection }}</p>
    <p>Constituido de: {{ artifacts.material }}</p>
    <p>Decoração: {{ artifacts.decoration }}</p>
    <p>Comprimento: {{ artifacts.length }}</p>
    <p>Largura: {{ artifacts.width }}</p>
    <p>Diâmetro: {{ artifacts.diameter }}</p>
    <p>Altura: {{ artifacts.height }}</p>
    <p>Circunferência: {{ artifacts.circumference }}</p>
    <p>Profundidade: {{ artifacts.depth }}</p>    
    <p>Peso: {{ artifacts.weight }}</p>
    <p>Proprietário: {{ artifacts.owner }}</p>
    <p>Data de aquisição: {{ artifacts.acqusition_date }}</p>
    <p>Doador: {{ artifacts.donor }}</p>
    <p>Último dono: {{artifacts.last_owner }}</p>
    <p>Caráter: {{ artifacts.personality }}</p>
    <p>Atualizado em: {{ artifacts.updated }}</p>
    <img src="{{ artifacts.image.url }}" alt="Image" height="30%" width="30%"/>
    <a href="/contact/">Requisição de empréstimo</a>
</div>
    
{% endblock %}