{% extends "artifacts/base.html" %}

{% block title %} 
    Museu La Salle - Artefatos 
{% endblock %}

{% block content %}
    <div class="list-container">
        {% for artifacts in artifacts_list %}
        <div class="items-container">
            <a href="{{ artifacts.get_absolute_url }}">
                <div class="items-wrap">
                    <h2>{{ artifacts.name }}</h2>
                    <h3>Por {{ artifacts.post_author }}</h3>
                    <p>{{ artifacts.created }}</p>
                    {% if artifacts.image %}
                            <img src="{{ artifacts.image.url }}" alt="{{ artifacts.name }}">
                            {% comment %} {{ artifacts.about|safe|linebreaks|truncatewords:10 }} {% endcomment %}
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}