

              {% extends "artifacts/base.html" %}
              {% load static %}
{% block title %} Museu La Salle {% endblock %}

{% block content %}
<section>
  <h1 class="mb-5"><strong>Artefatos encontrados no museu atualmente</strong></h1>
  
      
<div class="row">
  
    {% for artifacts in artifacts_list %}
    
    
 
        <div class="Card1"> 
          <div class="photo">
            <img src="{{ artifacts.image.url }}" />
          </div>
            <ul class="details">
              <h4> {{ artifacts.name }} </h4>
              <li>Autoria: {{ artifacts.author }}</li>
              <li>Ano: {{ artifacts.age }}</li>
              Coleção: {{ artifacts.collection}}
            </ul>  
            <div class="description">
              <div class="line">
                <h1 class="product_name" style="color: #3d498e !important">Museu La Salle</h1>
                <h1 class="product_price"></h1>
              </div>
              <h2>Descrição</h2>
              <p class="summary"> {{ artifacts.description|slice:"0:110" }}  </p>
              <a href="{{ artifacts.get_absolute_url }}">Detalhes</a>
            </div>
          </div>
        </div>
 




    {% endfor %}


</div>
</section>
    {% endblock %}