{% extends "artifacts/base.html" %}

<!-- {% block title %}{{ artifacts.title }}{% endblock %} -->

{% block content %}




<div class="container">
    <div class="three">
        <h1 class="mb-5">Detalhes do Artefato</h1>
      </div>
      <h4 class="mb-4"><strong>Publicado em:</strong> {{ artifacts.created }} por: {{ artifacts.post_author }}</h4>
    <div class="row">
      <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col"><strong>Artefato</strong></th>
                <th scope="col"><strong>Nome</strong></th>
                <th scope="col"><strong>Descrição</strong></th>
                <th scope="col"><strong>Autor(a)</strong></th>
                <th scope="col"><strong>Título</strong></th>
                <th scope="col"><strong>Proprietário</strong></th>
                <th scope="col"><strong>Nº Livro Tombo</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-25">
                    <img src="{{ artifacts.image.url }}" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>{{ artifacts.name }}</td>
                <td>{{ artifacts.description}}</td>
                <td>{{ artifacts.author }}</td>
                <td>{{ artifacts.title }}</td>
                <td>{{ artifacts.owner }}</td>
                <td>{{ artifacts.heritage_id }}</td>
              </tr>
            </tbody>
          </table>   
      </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-image">
              <tbody>
                <tr>
                  <td><strong>Código interno:</strong> {{ artifacts.slug }}</td>
                  <td><strong>Usabilidade:</strong> {{ artifacts.usage }}</td>
                  <td><strong>Estilo:</strong> {{ artifacts.style }}</td>
                  <td><strong>Cultura:</strong> {{ artifacts.culture }}</td>
                </tr>
                
                <tr>
                    <td><strong>Etnia:</strong> {{ artifacts.ethnicity }}</td>
                    <td><strong>Idade:</strong> {{ artifacts.age }} anos</td>
                    <td><strong>Inscrições:</strong> {{ artifacts.inscriptions }}</td>
                    <td><strong>Data fabricação:</strong> {{ artifacts.fabrication_date }}</td>
                </tr>       
                
                <tr>
                    <td><strong>Fabricação:</strong> {{ artifacts.manufacture }}</td>
                    <td><strong>Coleção:</strong> {{ artifacts.collection }}</td>
                    <td><strong>Constituido de:</strong> {{ artifacts.material }}</td>
                    <td><strong>Decoração:</strong> {{ artifacts.decoration }}</td>
                </tr>    

                <tr>
                    <td><strong>Comprimento:</strong> {{ artifacts.length }} cm</td>
                    <td><strong>Largura:</strong> {{ artifacts.width }} cm</td>
                    <td><strong>Diâmetro:</strong> {{ artifacts.diameter }} cm</td>
                    <td><strong>Altura:</strong> {{ artifacts.height }} cm</td>
                </tr>    

                <tr>
                    <td><strong>Circunferência:</strong> {{ artifacts.circumference }} cm</td>
                    <td><strong>Profundidade:</strong> {{ artifacts.depth }} cm</td>
                    <td><strong>Peso:</strong> {{ artifacts.weight }} KG</td>
                    <td><strong>Data de aquisição:</strong> {{ artifacts.acqusition_date }}</td>
                </tr>    

                <tr>
                    <td><strong>Doador:</strong> {{ artifacts.donor }}</td>
                    <td><strong>Último dono:</strong> {{artifacts.last_owner }}</td>
                    <td><strong>Caráter:</strong> {{ artifacts.personality }}</td>
                    <td><strong>Atualizado em:</strong> {{ artifacts.updated }}</td>
                </tr>    
             
              </tbody>
            </table>   
        </div>
      </div>
      <p class="mt-5"><strong>Atualizado em: </strong>{{ artifacts.updated }}</p>
    </div>
    
{% endblock %}