{% extends "artifacts/base.html" %}

<!-- {% block title %}{{ artifacts.title }}{% endblock %} -->

{% block content %}
<div class="container">
<form class="row g-3">
    <h2>{{ artifacts.title }}</h2>
    <p class="date">
        <h4>Publicado em {{ artifacts.created }} por: <strong>{{ artifacts.post_author }} </strong></h4>
    </p>
    <p><img src="{{ artifacts.image.url }}" alt="Image" height="50%" width="50%"/></p>

    <div class="row mt-4" style="display: table-cell;">
        <div class="col">
            <p><strong>Nome:</strong>{{ artifacts.name }}</p>
        </div>
        <div class="col">
            <p><strong>Código interno: </strong>{{ artifacts.slug }}</p>
        </div>
        <div class="col">
            <p><strong>Descrição: </strong>{{ artifacts.description}}</p>
        </div>
        <div class="col">
            <p><strong>Autor: </strong>{{ artifacts.author }}</p>
        </div>
        <div class="col">
            <p><strong>Usabilidade: </strong>{{ artifacts.usage }}</p>
        </div>
        <div class="col">
            <p><strong>Estilo: </strong>{{ artifacts.style }}</p>
        </div>
        <div class="col">
            <p><strong>Cultura: </strong>{{ artifacts.culture }}</p>
        </div>
        <div class="col">
            <p><strong>Etnia: </strong>{{ artifacts.ethnicity }}</p>
        </div>
        <div class="col">
            <p><strong>Idade: </strong>{{ artifacts.age }}</p>
        </div>
    </div>

    <div class="row" style="display: table-cell;">
        <div class="col">
            <p><strong>Inscrições: </strong>{{ artifacts.inscriptions }}</p>
        </div>
        <div class="col">
            <p><strong>Data de fabricação: </strong>{{ artifacts.fabrication_date }}</p>
        </div>
        <div class="col">
            <p><strong>Número do livro tombo: </strong>{{ artifacts.heritage_id }}</p>
        </div>
        <div class="col">
            <p><strong>Fabricação: </strong>{{ artifacts.manufacture }}</p>
        </div>
        <div class="col">
            <p><strong>Coleção: </strong>{{ artifacts.collection }}</p>
        </div>
        <div class="col">
            <p><strong>Constituido de: </strong>{{ artifacts.material }}</p>
        </div>
        <div class="col">
            <p><strong>Decoração: </strong>{{ artifacts.decoration }}</p>
        </div>
        <div class="col">
            <p><strong>Comprimento: </strong>{{ artifacts.length }}</p>
        </div>
        <div class="col">
            <p><strong>Largura: </strong>{{ artifacts.width }}</p>
        </div>
        <div class="col">
            <p><strong>Diâmetro: </strong>{{ artifacts.diameter }}</p>
        </div>
    </div>
    <div class="row" style="display: table-cell;">
        <div class="col">
            <p><strong>Altura: </strong>{{ artifacts.height }}</p>
        </div>
        <div class="col">
            <p><strong>Circunferência: </strong>{{ artifacts.circumference }}</p>
        </div>
        <div class="col">
            <p><strong>Profundidade: </strong>{{ artifacts.depth }}</p>  
        </div> 
        <div class="col"> 
            <p><strong>Peso: </strong>{{ artifacts.weight }}</p>
        </div>
        <div class="col">
            <p><strong>Proprietário: </strong>{{ artifacts.owner }}</p>
        </div>
        <div class="col">
            <p><strong>Data de aquisição: </strong>{{ artifacts.acqusition_date }}</p>
        </div>
        <div class="col">
            <p><strong>Doador: </strong>{{ artifacts.donor }}</p>
        </div>
        <div class="col">
            <p><strong>Último dono: </strong>{{artifacts.last_owner }}</p>
        </div>
        <div class="col">
            <p><strong>Caráter: </strong>{{ artifacts.personality }}</p>
        </div>
        <div class="col">
            <p><strong>Atualizado em: </strong>{{ artifacts.updated }}</p>
        </div>
    </div>
</form>
</div>
    
{% endblock %}