{% load static %}
<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
   <!--  <script src="assets/js/querys.js"></script> -->
    <!-- Título do da página -->
    <title>Home | Museu</title>
  </head>
  <!-- Corpo da página -->
  <body>
	<!-- CABEÇALHO -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style=" height: 126px !important; background-color: #dfdfdf; opacity: 0.8; -webkit-box-shadow: 0px 3px 4px -1px #F2F0F0; 
  box-shadow: 0px 3px 4px -1px #F2F0F0;">
    <div class="container">
      <a class="navbar-brand" href="#"><img id="imagemMuseu"  src="{% static 'imagens/logo2.png' %}" alt="logo museu" style="opacity: none !important;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link menu-navbar" href="/" ><strong>Home</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-navbar" href="/artifacts"><strong>Artefatos</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-navbar" href="/collection"><strong>Acervo Digital</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-navbar" href="/admin"><strong>Login</strong></a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item cor-letras-menu">
              <a class="nav-link menu-navbar" href="/artifacts/artifacts/add/"><strong>Cadastrar Artefato</strong></a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'imagens/carrossel2.jpg' %}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 65px;"><strong style="text-shadow: 0.1em 0.1em 0.2em gainsboro">Museu <span style="color: #25407d;">La Salle</span></strong></h5>
          <p><strong style="font-size: 26px; text-shadow: 0.1em 0.1em 0.2em gainsboro">Aqui você encontra todos nossos <span style="color: #25407d;">artefatos</span> e <span style="color: #25407d;">coleções</span> que o museu atualmente abriga.</strong></p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'imagens/carrossel2.jpg' %}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Slider One Item</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'imagens/carrossel3.jpg' %}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Slider One Item</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, tempore. Deserunt excepturi quas vero.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  
  



	<!-- <section>
		<div class="container mt-5">
			<nav id="menuHeader" class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container mt-2 mb-2" style="height: 65px !important;">
					<a href="/index"><img id="imagemMuseu" class="imagem-index" src="{% static 'imagens/logo2.png' %}" alt="logo museu"></a>
					 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		 				 	<span class="navbar-toggler-icon"></span>
						</button>
					<div class="navbar-collapse collapse" id="navbarNavDropdown">			 	
						<ul class="navbar-nav" style="margin-left: 15px;">
							<li class="nav-item home">
								<a class="nav-link home2" href="index.html" alt="home museu">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link cabecalho-letras" href="#"alt="sobre o museu">Sobre Nós</a>
							</li>
							<li class="nav-item">
								<a class="nav-link cabecalho-letras" href="/artifacts" alt="artefatos museu">Artefatos</a>
							</li>
	 						<li class="nav-item">
								<a class="nav-link cabecalho-letras" href="acervo_digital.html" alt="acervo digital">Acervo Digital</a>
							</li>
              {% if user.is_authenticated %}
							  <li class="nav-item">
	 						   <a class="nav-link cabecalho-letras" href="artifacts/add/" alt="cadastrar artefatos">Cadastrar Artefatos</a>	  
	 						 </li>
            {% endif %}
						</ul>
					</div>	
				</div>		
			</nav>
		</div>
	</section> -->

    <!-- <nav class="navbar navbar-dark p-0 flex-md-nowrap shadow" style="background-color: #1d4482;">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="visibility: hidden !important;">Museu Home</a>
      <input type="text" class="form-control form-control-primary w-75" placeholder="Procure por algo...">
     <a  href="/admin"><button type="button" class="btn btn-secondary botao-login" data-bs-target="#staticBackdrop"><i class="fas fa-user" style="margin-right: 10px;"></i>Meu Login</button></a>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-lock" style="color: #0f2241"></i> Painel Administrativo</h5>
              <i class="far fa-times-circle" data-bs-dismiss="modal" style="cursor: pointer; color: red; margin-top: 10px; font-size: 20px;"></i>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="email" class="form-label"><strong>Email</strong></label>
                <input type="email" class="form-control" id="email" placeholder="Seu email">
              </div>
              <div class="mb-3">
                <label for="senha" class="form-label"><strong>Senha</strong></label>
                <input type="password" class="form-control" id="senha" placeholder="Sua senha">
              </div>
              <div class="mb-2 ml-1">
                <a href=""><p>Esqueceu a senha?</p></a>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary botao-logar"  style="color: #1d4482"><strong>Logar</strong></button>
            </div>
          </div>
        </div>
      </div>
    </nav> -->


    <!-- Sidebar -->

    <!-- <section>
      <div class="s-layout">
       
        <div class="s-layout__sidebar">
          <a class="s-sidebar__trigger" href="#0">
            <i class="fa fa-bars"></i>
          </a>
          <nav class="s-sidebar__nav">
            <img  src="{% static 'imagens/sidebar.png' %}" height="100%">
          <ul>
          <li style="margin-top: -35px;">
              <img src="{% static 'imagens/logo2.png' %}" width="100%" height="100%">
            
          </li>
       

          <li>
          <li>
            <a class="s-sidebar__nav-link " href="index.html">
              <i class="fa fa-home" style="margin-left: 10px;"></i><strong><em>Principal</em></strong>
             </a>
          </li>
          <li>
            <a class="s-sidebar__nav-link sidebar-selecionado" href="/artifacts">
              <i class="fas fa-list" style="margin-left: 10px;"></i><strong><em>Artefatos</em></strong>
            </a>
          </li>
          <li>
           <a class="s-sidebar__nav-link" href="../collection">
              <i class="fas fa-folder-open" style="margin-left: 10px;"></i><strong><em>Coleções</em></strong>
           </a>
          </li>
          <li>
            <a class="s-sidebar__nav-link" href="acervo_digital.html">
             <i class="fas fa-atlas" style="margin-left: 10px;"></i><strong><em>Acervo Digital</em></strong>
            </a>
          </li>
          {% if user.is_authenticated %}

          <li>
            <a class="s-sidebar__nav-link" href="artifacts/add/">
             <i class="fas fa-atlas" style="margin-left: 10px;"></i><strong><em>Cadastrar Artefatos (provisorio)</em></strong>
            </a>
          </li>
          {% endif %}
          </ul>
          </nav>
        </div>
      </section> -->
   
      <!-- Content -->
      <main class="container">

        {% block content %}  {% endblock %}
    
      </main>
      <footer class="footer-section mt-5">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-4 col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4 style="color: #4d67ab">Endereço</h4>
                                <span>Av. Victor Barreto, 2288 - Centro, Canoas</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4 style="color: #4d67ab">Nos ligue</h4>
                                <span>+55 (51) 3476-8500</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4 style="color: #4d67ab">Nosso email</h4>
                                <span>atendimento@unilasalle.edu.br</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="{% static 'imagens/logo2.png' %}" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Museu La Salle com artefatos e coleções históricas para você voltar ao passado de forma virtual.</p>
                            </div>
                            <div class="footer-social-icon">
                                <span style="color: #4d67ab">
                                  Nos siga
                                </span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3 style="color: #4d67ab">Links úteis</h3>
                            </div>
                            <ul>
                              <li><a href="/">Home</a></li>
                              <li><a href="/artifacts">Artefatos</a></li>
                              <li><a href="/collection">Coleções</a></li>
                              <li><a href="#">Contato</a></li>
                              <li><a href="/admin">Login</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3 style="color: #4d67ab">Se inscreva !</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Entre em contato com a gente! Escreva seu email para contato.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Seu email">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021, Todos os direitos Reservados La Salle</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/artifacts">Artefatos</a></li>
                                <li><a href="/collection">Coleções</a></li>
                                <li><a href="#">Contato</a></li>
                                <li><a href="/admin">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
   
  </body>
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/javascript.js' %}"></script>

</html>