{% extends "materials/base.html" %}

{% block title %} 
    Museu La Salle - Coleções
{% endblock %}

{% block content %}
    <div class="list-container">
        {% for materials in materials_list %}
            <div class="items-container">
                <a href="{{ materials.get_absolute_url }}">
                    <div class="items-wrap">
                        <h2>{{ materials.name }}</h2>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}