{% extends "artifacts/base.html" %}

{% block title %} Coleções {% endblock %}

{% block content %}
<div class="container">
    <div class="three">
        <h1 class="mb-5">Coleção</h1>
      </div>

    <div class="detail-container">
        <h2>
           Tipo: {{ collection.name }}
        </h2>
        <p><img src="{{ collection.image.url }}" alt="Image" height="50%" width="50%"/></p>
        <strong>Descrição: </strong>
        <p> {{ collection.description|safe }}</p>
    </div>


</div>

{% endblock %}