{% extends "artifacts/base.html" %}

{% block title %} 
    Museu La Salle - Coleções
{% endblock %}

{% block content %}
<div class="container">
    <div class="three">
        <h1 class="mb-5">Lista das Coleções atuais no Museu</h1>
      </div>
    <div class="list-container">

        <!-- <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">{{ collection.name }}.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> -->

        {% for collection in collection_list %}

    <div class="row" style="display: inline-block;">
        <div class="col-4 col-sm-4 col-md-4 col-lg-6 col-xl-4">
            <div class="card mb-2 mt-2 mr-2 ml-2 items-wrap" style="width: 18rem !important">
                <img class="card-img-top" src="{{ collection.image.url }}" alt="Artefatos" style="height: 250px !important;">
                <div class="card-body">
                  <h5 class="card-title" style="color: #25407d;">Coleção de:</h5>
                  <p class="card-text" style="font-size: 20px; ">{{ collection.name }}.</p>
                  <a href="{{ collection.get_absolute_url }}" class="btn btn-primary btn-colecao" style="background-color: transparent;
                  border-color: #214196; color:black;">Mais detalhes</a>
                </div>
            </div>
        </div>
    </div>
            <!-- <div class="items-container">
                <a href="{{ collection.get_absolute_url }}">
                    <div class="items-wrap">
                        <div class="alert alert-info" role="alert">
                            <strong style="font-size: 20px; color: black;">{{ collection.name }}</strong>
                          </div>
                    </div>
                </a>
            </div> -->
        {% endfor %}
    </div>
</div>
{% endblock %}