{% extends "artifacts/base.html" %}

{% block title %} Coleções {% endblock %}

{% block content %}
<div class="container">
    <div class="three">
        <h1 class="mb-5">Coleção</h1>
      </div>
    {% for collection in collection %}
    <div class="detail-container">

        <div class="row">
            <div class="col">
                <h2 class="mb-4">
                    Tipo: {{ collection.name }}
                 </h2>
                <img src="{{ collection.image.url }}" alt="Image" height="60%" width="60%"/>
            </div>
            <div class="col" style="
            box-shadow:
          inset 0 0 0.5em rgba(0,0,0,0.1),
          0.2em 0.2em 0.5em rgba(0,0,0,0.2);
          height: 60%;">
                <p class="mt-2"><strong style="font-size: 26px; color: #25407d;" >Descrição: </strong></p>
                <p > {{ collection.description|safe }}</p>
            </div>



    </div>
    {% endfor %}
    <div class="three">
        <h1 class="mb-5 ">Artefatos dessa coleção:</h1> 
      </div>
  </div>
    <div class="row">
        <div>
          {% for artifacts in artifacts %}
              <div class="Card1"> 
                <div class="photo">
                  <img src="{{ artifacts.image.url }}" heigh= "100px" width="200px"/>
                </div>
                  <ul class="details">
                    <h4> <strong>{{ artifacts.name }} </strong></h4>
                    <li><strong>Autoria:</strong> {{ artifacts.author }}</li>
                    <li><strong>Idade:</strong> {{ artifacts.age }} anos</li>
                    <li><strong>Coleção:</strong> {{ artifacts.collection}}</li>
                  </ul>  
                  <div class="description">
                    <div class="line">
                      <h1 class="product_name" style="color: #3d498e !important">Museu La Salle</h1>
                      <h1 class="product_price"></h1>
                    </div>
                    <h2>Descrição</h2>
                    <p class="summary"> {{ artifacts.description|slice:"0:110" }}  </p>
                
                    {% if user.is_authenticated %}
                    <a  href="{{artifacts.get_main_edit}}"><button type="button" class="btn float-left botao-cadastrar" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-top: -50px;"><i class="fas fa-plus"></i> Editar Artefato</button></a> 
                {% endif %}
                    <a href="{{artifacts.get_absolute_url}}">Detalhes</a>
      
                  </div>
                </div>
            {% endfor %}
    </div>
    
</div>
{% endblock %}