{% extends "index/base.html" %}
{% load static %}
{% block title %} {{ index.title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="three">
        <h1 class="mb-5"><strong>Bem vindo!</strong> Museu La Salle</h1>
      </div>
    <p>{{ index.text }}</p>

<h3 class="text-center mb-5">História do Museu <strong  style="color: #576ea7;">MAHLS</strong> - Museu Histórico La Salle</h3>
<p style="font-size: 20px; ">
  Em <span style="color: #576ea7;">1996</span>, iniciou no <span style="color: #576ea7;"><strong>Centro Universitário La Salle</strong></span>, a partir da ação de professores dos cursos de História e Pedagogia, um movimento para estudo e preservação dos bens culturais materiais e imateriais do Instituto dos Irmãos das Escolas Cristãs1
  , cujos membros são conhecidos no Brasil como Irmãos Lassalistas. Nesse sentido, foram elaborados projetos de pesquisa que redundaram em dissertações de mestrado e teses de doutorado que <span style="color: #576ea7;"><strong>visavam a compreender:</strong></span> a trajetória dos Irmãos no Brasil, a ação educativa e os escritos de São João Batista de La Salle, os processos de ensino nas
  escolas de educação básica, a formação de professores e a pedagogia lassalista. 
</p>
<div class="row mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="color: #576ea7;"><strong>Missão</strong></h5>
        <p class="card-text"><p><strong>Institucional</strong></p>
        Ser um espaço dinâmico de prestação de serviços à sociedade, a partir da difusão
        das ações de preservação, pesquisa e divulgação das práticas educativas, das escolas de
        educação básica e da educação superior lassalista no Rio Grande do Sul.
        <p class="mt-3"><strong>Política</strong></p>
        Museu Histórico La Salle – Guia simplificado do acervo
        Em conjunto com outros órgãos, estreitar os vínculos entre o UNILASALLE e
        público externo no que tange à educação escolar, as escolas, os lassalistas e sua história
        no estado, compartilhando conhecimentos e divulgando ações com esse escopo.
        <p class="mt-3"><strong>Científica</strong></p>
        Constituir-se como espaço para pesquisa, discussão, construção e
        compartilhamento de conhecimentos no que concerne aos temas trabalhados no Museu.
        <p class="mt-3"><strong>Extensionista</strong></p>
        Servir como extensão aos cursos de graduação e pós-graduação, notadamente
        aos de formação de professores, disponibilizando os conhecimentos gerados a partir de
        pesquisa em seu acervo, a partir de ações diversas e de exposições de longa duração,
        temporárias e itinerantes.
        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="color: #576ea7;"><strong>Objetivo</strong></h5>
        <p class="card-text">
          <p><strong>Geral</strong></p>
          Realizar pesquisa, formar recursos humanos, conservar e divulgar o acervo
          histórico, documental e coleções, visando à preservação da memória da educação
          Lassalista no Rio Grande do Sul, constituindo-se em importante instrumento de
          valorização do patrimônio histórico e cultural das práticas educativas lassalistas, a fim
          de promover, ampliar e fortalecer os vínculos de pertencimento da comunidade
          envolvente com o UNILASALLE. 
          <p class="mt-3"><strong>Específicos</strong></p>
          
          <p><strong>a)</strong> Organizar, manter, ampliar, divulgar e custodiar acervos históricos,
documentais e coleções didáticas referentes a sua área de atuação.</p>
<p><strong>b)</strong> Desenvolver um espaço privilegiado para estudo, pesquisa, divulgação e
exposição do acervo, oferecendo subsídios sobre o Instituto dos Irmãos das
Escolas Cristãs e a Pedagogia Lassalista para professores e estudantes das
comunidades acadêmica e educativa lassalistas, bem como para a
comunidade em geral.</p>
<p><strong>c)</strong> Elaborar e executar programas, projetos, atividades de pesquisa e eventos
educativos e culturais, dirigidos à comunidade acadêmica e em geral.</p>
<p><strong>d)</strong> Comunicar conhecimento histórico e científico, por meio de exposições e
outras formas de divulgação de seu acervo e produção científica.</p>
<!-- <strong>e)</strong> Contribuir para a formação e aperfeiçoamento de recursos humanos,
especialmente, os acadêmicos de graduação e pós-graduação das áreas afins
e dos cursos formadores de agentes culturais.
<strong>f)</strong> Contribuir para a proteção do patrimônio cultural da comunidade acadêmica
e local.  -->


        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
</div>